.input-simple {
    width: 98%;
    margin: auto;
    margin-bottom: 20px;
}

.input-long {
    width: 98%;
    margin: auto;
    height: 30%;
}

.input-send {
    margin-top: 20px;
    background-color: cornflowerblue;
    color: white;
    width: 120px;
}

.horizontal-tabs {
    display: flex;
    margin: auto;
    gap: 0;
}

.tab {
    background-color: white;
    color: black;
    height: 60px;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    font-size: 20px;
}

.content {
    background-color: white;
    margin: auto;
    padding: 50px;
    height: 65vh;
    overflow-y: auto;
}

.content ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 20px;
}

.content li {
    background-color: peru;
    font-size: 24px;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    height: 120px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.content li a {
    text-decoration: none;
    color: white;
}

.home-card {
    position: fixed;
    top: 115px;
    bottom: 25px;
    left: 12.5%;
    right: 12.5%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    padding-bottom: 0;
}
